body
{
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: rgb(49, 50, 51);;
	font-size: large;
}

#menu
{
	position: fixed;
	width: 100%;
	background: rgb(36, 37, 39);
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
/* 
#menu li{ 
	float: right;
} */

#menu li span{ 
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	padding: 20px 20px; 
	margin-right: auto;
}

#menu li a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	padding: 20px 20px; 
	margin: 0 1em;
}

li a:hover {
	background-color: rgb(60, 62, 65);
  }

li a:active {
background-color: rgb(177, 183, 189);
}

#about{
	background-color: rgb(177, 183, 189);
}